.ui-widget{
    font-size: 12px !important;
}

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

.ui-menu {
    width: 17.5em !important;
}

.ui-selectonemenu{
     width: 100% !important;
}
.ui-selectonemenu-label{
     width: 97% !important;
}  