<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="TA-FINAL-WebPU" transaction-type="JTA">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <jta-data-source>jdbc/taFinal6n1</jta-data-source>
    <class>br.edu.ifsul.modelo.Cidade</class>
    <class>br.edu.ifsul.modelo.Estado</class>
    <class>br.edu.ifsul.modelo.Filme</class> 
    <class>br.edu.ifsul.modelo.Genero</class>
    <class>br.edu.ifsul.modelo.Cinema</class>
    <class>br.edu.ifsul.modelo.Pessoa</class>
    <class>br.edu.ifsul.modelo.Funcionario</class>
    <properties>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
      <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
      <property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.SunOneJtaPlatform"/>
      <property name="hibernate.classloading.use_current_tccl_as_parent" value="false"/>
    </properties>
  </persistence-unit>
</persistence>
